* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
html {
    scroll-behavior: smooth;
}
/* Navbar Styling */
#navlist {
    font-family: 'Akaya Telivigala';
    font-size: 20px;
}
.nav-link:hover {
    color: red;
    text-shadow: 0 4px 6px black;
}

/* Login Styling */
#join {
   box-shadow: 0px 4px 6px 2px rgb(4, 4, 4);
   color: white;
   background-color: red;
   font-weight: bold;
   
}
#join:hover {
    
    background-color: rgb(255, 0, 0);
    box-shadow: 0px -4px 6px 2px rgb(4, 4, 4);
}

/* Main Home Background */
.bgimg {
    border: 2px solid black; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.mainText {
    color: white;
    position: absolute;
    left: 8%;
    top: 15%;
    text-align: center;
    
}
.mainText h1 {
    font-size: 45px;
    font-family: 'Aclonica';
    
}
.mainText p {
    padding-top: 5px;
    font-size: 15px;
    font-family: 'Aldrich';
    
}

/* Course Setion Header */
.CourseHead {
height: 130px;
font-size: 90px;
font-family: 'Akaya Telivigala';
color: red;
text-align: center;
text-shadow: 2px 7px 8px #000000;
}
@media screen and (max-width: 400px) {
    .CourseHead {
        font-size: 40px;
        height: 50px;
    }
  }

/* Course Section Carousel */
.CourseSection {
    background: #C9FFBF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
.slider {
    margin-bottom: 20px;
    position: relative;
}
.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: rgb(255, 255, 255);
    text-shadow: 0 0px 6px black;
    box-shadow: 0 0 10px 6px rgba(122, 121, 121, 0.914);
}
.slider-card {
    background-color: white;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
    
}

.slider-card img{
    border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
.purchase {
    background-color: red;
    color: white;
    border: 1px solid white;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    font-family: 'Roboto Mono';
    font-weight: bold;
}
.purchase:hover {
    background-color: rgb(15, 255, 15);
    color: black;
    box-shadow: 0 -2px 8px rgb(249, 3, 3);
    border: 1px solid rgb(0, 0, 0);
    
}
.slider-card h5 {
    font-family: 'Aclonica';
    
}
.slider-card p {
    font-family: 'Akaya Telivigala';
}

/* Courses Section Ended */

/* About Us Footer */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);


.footer-distributed{
	background: rgb(254, 22, 22);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(255, 255, 255);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(255, 255, 255);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


